<section >

    <div class="amigos" >
      <p class="titulo">amigos</p>
      <br>
      <p class="subtitulo1">Colaboradores</p>
      <p class="subtitulo2">de icp.hub latam</p>
    </div>
  <br>
  
  <div class="contenedor-amigos text-center">
  
    <a href="https://twitter.com/lazonatres">
      <img src="images/amigos/zona-tres.png" alt="Zona Tres" class="img-fluid">
      <p class="titulo-amigos">Zona Tres</p>
      <p class="redes-amigos">@lazonatres</p>
    </a>
    
    <a href="https://twitter.com/SomosColledge?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
      <img src="images/amigos/colledge.png" alt="Colledge" class="img-fluid">
      <p class="titulo-amigos">Colledge</p>
      <p class="redes-amigos">@SomosColledge</p>
    </a>
  
    <a href="https://ditobanx.com/">
      <img src="images/amigos/ditoBanx.png" alt="DitoBanx" class="img-fluid">
      <p class="titulo-amigos">DitoBanx</p>
      <p class="redes-amigos">ditobanx.com</p>
    </a>
  
    <a href="https://sg.com.mx/">
      <img src="images/amigos/sg.png" alt="Software Guru" class="img-fluid">
      <p class="titulo-amigos">Software Guru</p>
      <p class="redes-amigos">sg.com.mx</p>
    </a>
  
    <a href="https://kostik.mx/">
      <img src="images/amigos/kostik.png" alt="Kostik" class="img-fluid">
      <p class="titulo-amigos">Kostik</p>
      <p class="redes-amigos">kostik.mx</p>
    </a>
  
    <a href="https://dedica.org.mx/">
      <img src="images/amigos/dedica-fundacion.png" alt="Dedica Fundación" class="img-fluid">
      <p class="titulo-amigos">Dedica Fundación</p>
      <p class="redes-amigos">dedica.org.mx</p>
    </a>
    
    <a href="https://lu.ma/RayoCapitalDemoDay">
      <img src="images/amigos/rayo.png" alt="Rayo" class="img-fluid">
      <p class="titulo-amigos">Rayo</p>
      <p class="redes-amigos">lu.ma/RayoCapitalDemoDay</p>
    </a>

    <a href="https://www.bloex.co/">
      <img src="images/amigos/blackchainex.png" alt="Blockchain eX" class="img-fluid">
      <p class="titulo-amigos">Blockchain eX</p>
      <p class="redes-amigos">www.bloex.co</p>
    </a>
  </div>
  
  </section>
  