<section class="seccion-comenzar">

    <div class="comenzar contenedor-comenzar">
      <div>
        <p class="titulo-comenzar">Comienza ya</p>
        <br>
        <p class="subtitulo1">Listo para</p>
        <p class="subtitulo2">comenzar? </p>
        <br>
        <p class="titulo-registro" style="color: white; !important">Comienza hoy</p>
        <p class="titulo-registro">Regístrate en el onboarding para el proceso de certificación en ICP</p>
      </div>
  
      <div>
  
        <a href="https://lu.ma/event/evt-LZPg2JVWUcMwzl2" class="comenzar-boton"
        data-luma-action="checkout" data-luma-event-id="evt-LZPg2JVWUcMwzl2">Unite ahora!</a>
      </div>
    </div>
  
  </section>
  