<section class="seccion-curso">


  <div class="curso">
    <p class="titulo">curso</p>
    <br>
    <p class="subtitulo1">Módulos de</p>
    <p class="subtitulo2">Aprendizaje</p>
  <br>
    <p class="sub-curso">Da tus primeros pasos en programación web3.</p>
    <p class="sig-curso">Con ejercicios 100% prácticos aprenderás a escribir tus primeros smart contracts con Motoko y en la blockchain de ICP para convertirte en el próximo blockchain developer.</p>
  </div>

  <br>

  <div class="contenedor-curso demo-day" >
    <div class="titulo-secciones-demo">
      <p class="">Demo Day</p>

    </div>

    <div style="color: #FFF;
    font-family: Hubot-Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 125% */">
      <p>Este día es un espacio para que los participantes, que concluyeron satisfactoriamente el proceso de certificación, presenten su proyecto a la comunidad.</p>

      <p>¡Mostramos el resultado del trabajo de la semana con la comunidad!</p>
    </div>
  </div>

  <br>

  <div class="contenedor-curso demo-day" >
    <div class="titulo-secciones-demo" style="background: radial-gradient(69.90% 120.56% at 50.00% -20.56%, #ED1E79 0%, rgba(237, 30, 121, 0.00) 100%) !important;">
      <p>Mentoría</p>

    </div>

    <div style="color: #FFF;
    font-family: Hubot-Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 125% */">
      <p>ICDevs.org (registrada como The Internet Computer Developers Education and Discovery Corporation), ofrece apoyo a los desarrolladores para que concluyan el diseño de su aplicación.</p>

      <p>ICP.Hub Latam a los mejores proyectos, seleccionados a partir del Demo Day, les da un acompañamiento (una mentoría) para que hagan la propuesta de apoyo a ICDevs.org.</p>
    </div>
  </div>
      
  </section>