<section class="seccion-demo">

    <div class="demo">
      <p class="titulo">demo</p>
      <br>
      <p class="subtitulo1">Videos</p>
      <p class="subtitulo2">de ejemplo</p>
    </div>

  <br>

    <div class="contenedor-demo text-center">
        
      <div>
            <div class="embed-responsive embed-responsive-21by9">
                <iframe width="500" height="255" src="https://www.youtube.com/embed/ra4Q-CJY9I8"></iframe>
              </div>
          
          <a href="https://twitter.com/lazonatres">
            <p class="titulo-amigos">Día 1 • Certificación como desarrollador en Internet Computer Protocol</p>
          </a>
        </div>
        
        <div>
            <div class="embed-responsive embed-responsive-21by9">
                <iframe width="500" height="255" src="https://www.youtube.com/embed/5A3S_ZSfPa8"></iframe>
              </div>
          
          <a href="https://twitter.com/lazonatres">
            <p class="titulo-amigos">Día 2 • Certificación como desarrollador en Internet Computer Protocol</p>
          </a>
        </div>
  
        <div>
            <div class="embed-responsive embed-responsive-21by9">
                <iframe width="500" height="255" src="https://www.youtube.com/embed/laRIq4Do6MA"></iframe>
              </div>
         
          <a href="https://twitter.com/lazonatres">
            <p class="titulo-amigos">Día 3 • Certificación como desarrollador en Internet Computer Protocol</p>
          </a>
        </div>
  
        <div>
            <div class="embed-responsive embed-responsive-21by9">
                <iframe width="500" height="255" src="https://www.youtube.com/embed/UWkaBV9wc8o"></iframe>
              </div>
          
          <a href="https://twitter.com/lazonatres">
            <p class="titulo-amigos">Día 4 • Certificación como desarrollador en Internet Computer Protocol</p>
          </a>
        </div>
    </div>
  
  </section>