<section class="seccion-embajadores" style="margin-top: 70px;">
    <div class="proceso">
      <div class="embajadores-bg">
        <p class="titulo">embajadores</p>
        <br>
        <p class="subtitulo1">icp ambassador</p>
        <p class="subtitulo2">program</p>
          <br>
        <p class="titulo-protocol">Formaliza la colaboración del ICP.Hub Latam con Universidades.</p>
      </div>

  <br>
        <div class="contenedor-proceso">
          <div class="embajadores-colaboracion">
              <p>Colaboración de docentes y estudiantes integrando:</p>
          </div>
  
          <div class="embajadores-colaboracion-vinetas">
              <li>ICP University Academic Advisor</li>
              <li>ICP University Ambassador Leader</li> 
              <li>ICP University Ambassador Developers</li>
          </div>
        </div>
  
      <br><br>


      <div class="contenedor-proceso">
        <div class="subtitulo-embajadores-colaboracion">
            <p>Este programa busca consolidar una comunidad de desarrolladores que fortalezcan estrategias, proyectos y soluciones en torno a las problemáticas en su contexto.</p>

            <li>Aplicando las tecnologías de la blockchain.</li>
            <li>Aprovechando las ventajas del Protocolo IP.</li>
        </div>

        <div class="subtitulo-embajadores-colaboracion">

            <p>El objetivo de este programa es el de formar nuevos desarrolladores especializados en el entorno del Protocolo ICP con el Modelo de ICP.Hub Latam, trabajando en coordinación con el equipo de instructores certificados en ICP en las Universidades.</p>

        </div>
      </div>

      <br><br>

      <div class="alianza-universidades">

        <p class="titulo-protocol">Primeras universidades con las que ya <br> se tiene alianza para el Programa de ICP Ambassador</p>
        <br>
<center>
        <div class="logos-universidades">
            <img src="images/universidades/1.png" class="img-fluid">
            <img src="images/universidades/2.png" class="img-fluid">
            <img src="images/universidades/3.png" class="img-fluid">
        </div>
      </center>
      </div>
        
      <!--<div>

        <p>Únete la comunidad de embajadores de ICP</p>

        <a href="#">Postula a tu Universidad</a>

      </div>-->
  
      </div>


</section>