
<section class="seccion-faq"> 

    <div class="faq">
      <p class="titulo">preguntas frecuentes</p>
      <br>
      <p class="subtitulo1">FAQ</p>
    </div>
  
    <br>
  
      <div class="accordion">
      <input type="radio" name="toggle" class="accordion-toggle" checked />
      <div class="accordion-header">Panel 1</div>
      <div class="accordion-content">Contenido panel 1</div>
      
      
      <input type="radio" name="toggle" class="accordion-toggle" />
      <div class="accordion-header">Panel 2</div>
      <div class="accordion-content">Contenido panel 2</div>
      
      
      <input type="radio" name="toggle" class="accordion-toggle" />
      <div class="accordion-header">Panel 3</div>
      <div class="accordion-content">Contenido panel 3</div> 
      </div>
  
  </section>
  