<!-- Navigation Start -->
<header class="header-bar" >
  <nav class="navbar navbar-expand main-nav fixed-top" style="background-color: #1B1B1B;">
    <div class="container" >
      <!-- LOGO BAR -->
      <a class="navbar-brand" href='{{ "/" | relURL }}' >
        <img src="/images/logo.png" alt="{{ .Site.Title }}" class="img-fluid logo-b">
      </a>

      <div class="collapse navbar-collapse menu-titulos" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#seccion-intro">Intro <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#seccion-curso">Curso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#seccion-proceso">Proceso</a>
        </li>
      </ul>
    </div>

          <a href="https://lu.ma/event/evt-qDshWzsvVaH1BaG" class="btn text-white my-3 btn-rounded hero-button hero-responsive-button" 
          data-luma-action="checkout" data-luma-event-id="evt-qDshWzsvVaH1BaG">Suscríbete ahora!</a>
          
          <script id="luma-checkout" src="https://embed.lu.ma/checkout-button.js"></script>
        </ul>                
      

      </div>
    </div>
  </nav>
</header>
<!-- Navigation End -->