<section class="hero-bg">

    <section class="hero">
      <div class="hero-astronaut">
          <img src="images/crypto-astronauta.png" class="img-fluid" > 
      </div>    
  
      
      <div class="hero-middle"> 
         
          <h3 class="hero-tagline">Aprende blockchain</h3>
          <h4 class="hero-meta">De entusiasta a experto</h4>
          <br>
          <h4 class="hero-info">Certificaciones, bootcamps y cursos de blockchain intensivos para impulsar tu carrera profesional y posicionarte como un referente.</h4>
  
          <div class="my-4 text-center">
            
          <a href="https://lu.ma/event/evt-LZPg2JVWUcMwzl2" class="btn text-white my-3 btn-rounded" style="display: inline-flex; padding: 24px 32px; justify-content: center;align-items: center; gap: 8px; background-color:#ffffff; font-weight: 800; color: black !important; "
          data-luma-action="checkout" data-luma-event-id="evt-LZPg2JVWUcMwzl2">Suscríbete ahora!</a>

          <script id="luma-checkout" src="https://embed.lu.ma/checkout-button.js"></script>
        
          <a  href="https://icp-esp.gitbook.io/icp-developer" target="_blank">
            <button  class="btn" style="color: #FFF; text-align: center; font-family: Hubot-Sans; font-size: 24px; font-style: normal; font-weight: 600; line-height: 24px; text-decoration-line: underline;">Ver el Gitbook</button>
          </a>
      </div>
   
  </section>
          
     
  </section>
  