<section class="hero-bg">

    <section class="hero">
      <div class="hero-astronaut">
          <img src="images/crypto-astronauta.png" class="img-fluid" > 
      </div>    
  
      
      <div class="hero-middle"> 
         
          <h3 class="hero-tagline">Aprende blockchain</h3>
          <h4 class="hero-meta">De entusiasta a experto</h4>
          <br>
          <h4 class="hero-info">Certificaciones, bootcamps y cursos de blockchain intensivos para impulsar tu carrera profesional y posicionarte como un referente.</h4>
  
          <div class="my-4 text-center hero-cta-buttons">
          


          <a href="https://linktr.ee/icphublatam" class="btn text-white my-3 btn-rounded hero-button" target="_blank" >Suscríbete ahora!</a>
          
          <!--
            
            data-luma-action="checkout" data-luma-event-id="evt-qDshWzsvVaH1BaG"
            
            <script id="luma-checkout" src="https://embed.lu.ma/checkout-button.js"></script>
          
          -->
        
          <a class="gitbook-link ml-4" href="https://icp-esp.gitbook.io/icp-developer" target="_blank">
            Ver el Gitbook
          </a>
      </div>
   
  </section>
          
     
  </section>
  