<section>

  <div class="intro">
    <p class="titulo">intro</p>
    <br>
    <p class="subtitulo1">Bienvenido a</p>
    <p class="subtitulo2">ICP.Hub Latam</p>
  </div>
    
  
  <section class="intro-info">
          
    <div class="intro-middle"> 
       
        <h3 class="intro-tagline">Somos un equipo apasionado de gente que lidera un diálogo global sobre blockchain.</h3>
        <h4 class="intro-meta">Porque somos lo bastante audaces para creer que nuestro trabajo puede inspirar el futuro.</h4>
        <br>
  
  <br>
        <div class="row row-cols-1 row-cols-md-3 xs container">
          <div class="col mb-4">
            <div class="card" style="background-color: transparent;">
              <div class="embed-responsive embed-responsive-16by9 container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/N4xcyyir1vs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="col mb-8">
            <div class="card" style="background-color: transparent;">
                <p class="info-video-intro">Entrevista en TVAzteca ADN40 con Carlos Mota a Claudio Cossio,  co-fundador de ICP Hub LATAM y Nativo Crypto.</p>
            </div>
          </div>
  
  
        </div>
  
    </div>
  
    <div class="intro-astronaut">
      <img src="images/intro-map.png" class="img-fluid" > 
    </div>    
    
  </section>

</section>