<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="seccion-nosotros">
    <div class="nosotros">
      <p class="titulo">nosotros</p>
      <br>
      <p class="subtitulo1">El Equipo</p>
      <p class="sub-nosotros">Nuestro equipo de ICP.HUB Latam cuenta con vasta experiencia en la educación de protocolos blockchain.</p>
    </div>
  <br><br>
  
    <div class="contenedor-nosotros">
    
      <div class="contenedor-nosotros-item"  >
          <img src="images/equipo/luz-margarita.jpg" class="img-fluid">
          <p class="titulo-nosotros">MARGARITA SAUCEDO</p>
          <p class="designacion-nosotros">PhD in Digital Education systems</p>
          <a href="https://www.linkedin.com/in/luz-margarita-saucedo-monarque-11309123/" target="_blank"><i class="fa fa-linkedin"></i></a>
      </div>
  
  
      <div class="contenedor-nosotros-item" >
        <img src="images/equipo/claudio-cossio.jpg" class="img-fluid">
        <p class="titulo-nosotros">CLAUDIO  COSSIO</p>
        <p class="designacion-nosotros">User Acquisition & Growth</p>
        <a href="https://www.linkedin.com/in/ccossio/" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>
    
      <div class="contenedor-nosotros-item" >
          <img src="images/equipo/cristian-zambrano.jpg" class="img-fluid">
          <p class="titulo-nosotros">CRISTIAN ZAMBRANO</p>
          <p class="designacion-nosotros">Blockchain Developer - Rust & Solidity</p>
          <a href="https://www.linkedin.com/in/cristian-zambrano-ab5b23185/" target="_blank"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="contenedor-nosotros-item" >
        <img src="images/equipo/equipo.png" class="img-fluid">
        <p class="titulo-nosotros">ARTURO DURAN</p>
        <p class="designacion-nosotros">BizDev for Enterprise & Fintech</p>
        <a href="https://www.linkedin.com/in/duranaca/" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>

    </div>
  </section>
  