<section class="onboarding">

    <p class="titulo">inicia</p>
    <br>
  <p class="subtitulo1">onboarding</p>
  <p class="subtitulo2">video</p>
  
  </section>
  
  <br>
  <div class="embed-responsive embed-responsive-16by9 container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SETAgOYYW58" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>