

<section class="seccion-proceso">

    <div class="proceso">
      <p class="titulo">proceso</p>
      <br>
      <p class="subtitulo1">Ruta de Formación</p>
      <p class="subtitulo2">iCP.hub Latam</p>
        <br>
      <p class="titulo-protocol">Onboarding a IC Protocol</p>
      <p class="subtitulo-protocol">Es el primer paso para el interesado en participar en la Certificación del IC Protocol.</p>


      <div class="contenedor-proceso">
        <div>
            <p class="titulo-proceso">El objetivo de esta primera interacción es:</p>
            <br>
            <li class="subtitulo-proceso">que los participantes conozcan las ventajas de desarrollar en el ecosistema del Internet Computer Protocol.</li>
            <li class="subtitulo-proceso">hacer la invitación para el registro en la siguiente certificación.</li>
        </div>

        <div>
            <p class="easy-peasy">Easy peasy</p>
            <br>
                <p> <img src="images/estrella.png"> Registrarse en Luma <a href="https://lu.ma/lpgl0k3g">https://lu.ma/lpgl0k3g</a></p>
            <br>
                <p> <img src="images/zoom.png"> Email con enlace para la sesión por Zoom.</p>
        </div>
    </div>


    <br>

    <div>
        <p class="titulo-proceso">Invitación a la Certificación</p>
        <p class="subtitulo-proceso">Una vez realizada la sesión se publicará la invitación para participar en la certificación en el Protocolo IC.</p>

        <br>

        <!--
        <div class="ruta-de-formacion">

            <p class="titulo-ruta">Ruta de formación</p>

            <div class="contenedor-ruta-de-formacion">
                
                <div class="circulo-ruta-item">
                    <div class="circulo-ruta">
                        <img class="circulo-ruta" src="images/proceso/1.png" >
                    </div>
                    
                    <p>Onboarding</p>
                </div>

                
                <div class="circulo-ruta-item">
                    <div class="circulo-ruta">
                        <img class="circulo-ruta" src="images/proceso/1.png" >
                    </div>
                    
                    <p>Onboarding</p>
                </div>

                                
                <div class="circulo-ruta-item">
                    <div class="circulo-ruta">
                        <img class="circulo-ruta" src="images/proceso/1.png" >
                    </div>
                    
                    <p>Onboarding</p>
                </div>
    
    
            </div>

        </div>
        -->
        
    </div>

    </div>

    


    




</section>