{{ define "main" }}

{{ $data := index .Site.Data }}

{{ partial "hero.html" . }}


<!--{{ partial "registro.html" . }}-->

<br>

{{ partial "onboarding.html" . }}

<br><br>

{{ partial "intro.html" . }}

<!--{{ partial "curso.html" . }}


<br><br>

<section class="amigos" s>

  <p class="titulo">amigos</p>
  <br>
  <p class="subtitulo1">Colaboradores</p>
  <p class="subtitulo2">de icp.hub latam</p>
</section>

            <a href="#"><img src="images/amigos/sg.png" alt="" class="img-fluid"></a>
            <a href="#"><img src="images/amigos/sg.png" alt="" class="img-fluid"></a>
            <a href="#"><img src="images/amigos/sg.png" alt="" class="img-fluid"></a>
            <a href="#"><img src="images/amigos/sg.png" alt="" class="img-fluid"></a>
            <a href="#"><img src="images/amigos/sg.png" alt="" class="img-fluid"></a>
-->

  






{{ end }}

