{{ define "main" }}

{{ $data := index .Site.Data }}


<section class="fondo-estrellas">

{{ partial "hero.html" . }}

<!--{{ partial "registro.html" . }}-->

<br>

{{ partial "onboarding.html" . }}

<br><br>

{{ partial "intro.html" . }}

</section>

{{ partial "curso.html" . }}

{{ partial "comenzar.html" . }}

{{ partial "demo.html" . }}

<br><br>

{{ partial "proceso.html" . }}

<br><br>

{{ partial "embajadores.html" . }}

<br><br>

{{ partial "amigos.html" . }}

<br><br><br><br>

<!-- {{ partial "nosotros.html" . }} -->

<!--{{ partial "amigos.html" . }}-->

<br><br><br><br>
{{ end }}

