// nativo global

body {
	margin: 0;

  }
  
  :root {
	/* fonts */
	--font-hubot-sans: Hubot-Sans;
	--font-inherit: inherit;
  
	/* font sizes */
	--font-size-5xl: 24px;
	--font-size-69xl: 88px;
	--font-size-xl: 20px;
	--font-size-13xl: 32px;
	--font-size-base: 16px;
	--font-size-2xl: 21px;
	--font-size-29xl: 48px;
	--font-size-lg: 18px;
	--font-size-32xl: 51px;
	--font-size-15xl: 34px;
	--font-size-21xl: 40px;
	--font-size-77xl: 96px;
  
	/* Colors */
	--color-gray-100: #fdfdfd;
	--color-gray-200: #1e1e21;
	--color-gray-300: #1a1a1f;
	--base-500-light-secondary: rgba(26, 26, 26, 0.5);
	--base-700-light-tertiary: rgba(26, 26, 26, 0.7);
	--color-gray-400: rgba(255, 255, 255, 0.5);
	--color-gray-500: rgba(255, 255, 255, 0.15);
	--color-gray-600: rgba(255, 255, 255, 0.05);
	--color-gray-700: rgba(255, 255, 255, 0.6);
	--color-gray-800: rgba(255, 255, 255, 0.2);
	--color-gray-900: rgba(255, 255, 255, 0.1);
	--color-white: #fff;
	--color-darkslategray: #37333d;
	--color-blueviolet: #a54cfe;
	--color-gold: #ffd91a;
	--color-mediumseagreen: #0fcf96;
	--color-orchid: #ff52d2;
	--color-darkgray-100: #a4a2ad;
	--color-darkgray-200: #a3a2ad;
	--color-gainsboro: #e4e4e7;
	--color-black: #000;
  
	/* Gaps */
	--gap-45xl: 64px;
	--gap-5xl: 24px;
	--gap-13xl: 32px;
	--gap-5xs: 8px;
	--gap-29xl: 48px;
	--gap-base: 16px;
	--gap-14xl: 33px;
	--gap-xs: 12px;
  
	/* Paddings */
	--padding-45xl: 64px;
	--padding-5xl: 24px;
	--padding-5xs: 8px;
	--padding-29xl: 48px;
	--padding-13xl: 32px;
	--padding-9xs: 4px;
	--padding-11xs: 2px;
	--padding-109xl: 128px;
	--padding-37xl: 56px;
	--padding-base: 16px;
	--padding-101xl: 120px;
	--padding-smi: 13px;
  
	/* border radiuses */
	--br-80xl: 99px;
	--br-22xl: 41px;
	--br-14xl: 33px;
	--br-5xl: 24px;
	--br-113xl: 132px;
	--br-base: 16px;
	--br-109xl: 128px;
	--br-101xl: 120px;
	--br-3xs: 10px;
	--br-10xs: 3px;
	--br-5xs: 8px;
  
	/* Effects */
	--shadow-shadow-sm-light: 0px 1px 3px rgba(0, 0, 0, 0.08);
  }
  
// nativo css index


// Hero

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-left: 230px;
  font-size: var(--font-size-77xl);

  @media only screen and (max-width: 1265px) {
  margin-left: 50px;  
  }

  @media only screen and (max-width: 950px) {
  margin-left: 20px;  
  }

  @media only screen and (max-width: 520px) {
    margin-left: -5px;  
    }

}

.aprende-blockchain {
  position: absolute;
  top: 131px;
  left: calc(50% - 697px);
  letter-spacing: -0.01em;
  line-height: 80%;
  text-transform: uppercase;
  font-weight: 800;
  width: 0px;

  @media only screen and (max-width: 990px) {
    font-size: 0.9em;
  }

  @media only screen and (max-width: 810px) {
    font-size: 0.6em;
  }

  @media only screen and (max-width: 520px) {
    font-size: 0.5em;
  }
  
}


.de-entusiasta-a {
  position: absolute;
  top: 286px;
  left: calc(50% - 697px);
  letter-spacing: -0.01em;
  line-height: 80%;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--color-gray-700);
  display: inline-block;
  width: 872px;

  @media only screen and (max-width: 990px) {
    font-size: 0.9em;
  }

  @media only screen and (max-width: 810px) {
    width: 480px;
    font-size: 0.6em;
    top: 236px;
  }

  @media only screen and (max-width: 520px) {
    width: 370px;
    font-size: 0.4em;
    top: 226px;
  }
}

.subtitulo {
  position: absolute;
  top: 487px;
  left: 23px;
  width: 684px;
  height: 160px;
  font-size: var(--font-size-15xl);

  @media only screen and (max-width: 810px) {
    width: 480px;
    font-size: 0.3em;
    top: 450px;
  }

  @media only screen and (max-width: 520px) {
    width: 340px;
    font-size: 0.2em;
    top: 350px;
  }

}


.suscrbete-ahora-wrapper,
.ver-el-gitbook {
  position: absolute;
  font-size: var(--font-size-5xl);
  text-align: center;
  
}
.suscrbete-ahora-wrapper {
  top: 703px;
  left: calc(50% - 697px);
  border-radius: var(--br-80xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  flex-grow: 1;
  padding: var(--padding-5xl) var(--padding-13xl);
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  @media only screen and (max-width: 810px) {
    margin-top: -125px;
    font-size: 0.2em;
    left: calc(49% - 697px);

  }
}
.ver-el-gitbook {
  top: 727px;
  left: 332.5px;
  text-decoration: underline;
  line-height: 24px;
  font-weight: 600;
  @media only screen and (max-width: 810px) {
    margin-top: -125px;
    font-size: 0.2em;
    left: 235px;
  }
}




// - Hero

.desktop-11-child,
.desktop-11-item {
  position: absolute;
  top: 1339px;
  left: 0;
  width: 1440px;
  height: 1404px;
  
}
.desktop-11-item {
  top: 0;
  background: linear-gradient(117.41deg, #333336, #0e0e11 76.56%);
  height: 1122px;
  display: none;
  mix-blend-mode: darken;
}
.c3059d443cd7a78762eb-stars-bg-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2002px;
  height: 4096px;
  object-fit: cover;
}
.curso,
.faqs,
.team {
  position: absolute;
  top: 28px;
  left: 554px;
  line-height: 24px;
  font-weight: 600;
}
.faqs,
.team {
  left: 683px;
}
.faqs {
  left: 825px;
}
.discord-fill-icon,
.github-fill-icon,
.telegram-fill-icon,
.twitter-fill-icon {
  position: absolute;
  top: 28px;
  left: 1300px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.discord-fill-icon,
.github-fill-icon,
.twitter-fill-icon {
  left: 1364px;
}
.discord-fill-icon,
.github-fill-icon {
  left: 1332px;
}
.discord-fill-icon {
  left: 1396px;
}
.desktop-11-inner {
  position: absolute;
  top: 13.7px;
  left: 24px;
  width: 234.53px;
  height: 56px;
}
.unite-ahora {
  position: relative;
  line-height: 18px;
  font-weight: 600;
}
.unite-ahora-wrapper {
  position: absolute;
  top: 12px;
  left: calc(40% + 363px);
  border-radius: var(--br-80xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-13xl);
  align-items: center;
  justify-content: center;
  color: var(--color-black);
}
.torus-1-icon {
  position: absolute;
  top: 520px;
  left: 784px;
  width: 585px;
  height: 319px;
  opacity: 0.6;
}
.icon {
  position: absolute;
  top: 94px;
  left: 877px;
  width: 422px;
  height: 609px;
  object-fit: cover;
}


.certificaciones-bootcamps-y {
  position: absolute;
  top: 0;
  left: calc(50% - 342px);
  letter-spacing: 0.02em;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  width: 684px;
}
.p {
  margin: 0;
}
.para-impulsar-tu-container {
  position: absolute;
  top: 0;
  left: calc(50% - 342px);
  letter-spacing: 0.02em;
  line-height: 40px;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  width: 684px;
  opacity: 0.6;
}

.suscrbete-ahora {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}


.design-1-icon {
  position: absolute;
  top: 513px;
  left: 1134px;
  width: 282.15px;
  height: 282.15px;
  object-fit: cover;
}

.en-el-curso,
.inscrbete,
.registro {
  position: relative;
  text-transform: uppercase;
}
.registro {
  letter-spacing: 0.18em;
  line-height: 20px;
  background: linear-gradient(99.09deg, #5665f9, #ff52d2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.en-el-curso,
.inscrbete {
  letter-spacing: -0.01em;
  line-height: 74px;
  font-weight: 800;
  display: inline-block;
  width: 1076px;
}
.en-el-curso {
  color: var(--color-gray-700);
  width: 1259px;
}
.inscrbete-parent,
.label {
  align-self: stretch;
  display: flex;
}
.inscrbete-parent {
  flex-direction: column;
  padding: 0 0 var(--padding-29xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-69xl);
}
.label {
  line-height: 32px;
  align-items: flex-end;
  height: 30px;
  flex-shrink: 0;
}
.icon-l,
.label,
.text {
  position: relative;
}
.icon-l {
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text {
  flex: 1;
  line-height: 32px;
}
.input-large {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.helper {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-weight: 500;
  color: var(--base-500-light-secondary);
  text-align: right;
  display: none;
}
.container2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  box-shadow: var(--shadow-shadow-sm-light);
  border: 1px solid var(--color-gainsboro);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.caption {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.input,
.typedefault {
  align-self: stretch;
  justify-content: flex-start;
}
.typedefault {
  display: none;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-base);
  color: var(--base-700-light-tertiary);
}
.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.icon-l2,
.text2 {
  position: relative;
}
.icon-l2 {
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.text2 {
  line-height: 32px;
}
.input-large2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.helper2 {
  position: relative;
  line-height: 32px;
  color: var(--base-700-light-tertiary);
  display: none;
}
.container1,
.container4 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.container4 {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  box-shadow: var(--shadow-shadow-sm-light);
  border: 1px solid var(--color-gainsboro);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-base);
  align-items: center;
  gap: 10px;
}
.container1 {
  flex-direction: column;
  padding: var(--padding-base) 0 0;
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.container-system-icon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text3 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.button {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-200);
  box-shadow: var(--shadow-shadow-sm-light);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.containera,
.container5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container5 {
  align-self: stretch;
  padding: var(--padding-base) 0 0;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-white);
}
.containera {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ebebeb;
  width: 576px;
  height: 612px;
  padding: 72px var(--padding-29xl);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-base);
}
.clases-en-vivo,
.por-qu-aprender {
  position: relative;
  line-height: 40px;
  text-transform: uppercase;
}
.por-qu-aprender {
  align-self: stretch;
  text-align: left;
}
.clases-en-vivo {
  font-weight: 600;
  background: linear-gradient(108.39deg, #f35, #fd4088 50.52%, #ff723b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container6 {
  position: absolute;
  top: 0;
  left: 576px;
  background-color: #1d1c20;
  width: 576px;
  height: 612px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-29xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
}
.container-parent {
  position: relative;
  border-radius: var(--br-5xl);
  width: 1152px;
  height: 612px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-101xl);
  align-items: center;
  justify-content: center;
  color: var(--color-black);
}
.registro-parent {
  width: 1440px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-45xl) var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.cleanshot-2023-06-26-at-1136 {
  position: absolute;
  top: -14px;
  left: -24px;
  border-radius: var(--br-5xl);
  width: 1154px;
  height: 670px;
  object-fit: cover;
}
.frame-child {
  position: absolute;
  top: calc(50% - 97.03px);
  left: calc(50% - 62.68px);
  border-radius: 13.64px;
  width: 209.94px;
  height: 226.33px;
}
.cleanshot-2023-06-26-at-1136-parent {
  position: relative;
  width: 1106px;
  height: 622px;
}
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-101xl);
  align-items: center;
  justify-content: center;
}
.bienvenido-a,
.icphub-latam {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 74px;
  text-transform: uppercase;
  font-weight: 800;
}
.icphub-latam {
  color: var(--color-gray-700);
}
.bienvenido-a-parent,
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div {
  font-size: var(--font-size-69xl);
}
.porque-somos-lo,
.somos-un-equipo {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 44px;
  font-weight: 600;
  display: inline-block;
  width: 778px;
}
.porque-somos-lo {
  opacity: 0.6;
}
.cleanshot-2023-06-26-at-1212 {
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  height: 160.83px;
  object-fit: cover;
}
.frame-item {
  position: absolute;
  top: calc(50% - 23.04px);
  left: calc(50% - 21.16px);
  border-radius: 5.64px;
  width: 55.3px;
  height: 59.01px;
}
.cleanshot-2023-06-26-at-1212-parent {
  position: relative;
  border-radius: 9.03px;
  box-shadow: 0 11.288888931274414px 11.29px rgba(0, 0, 0, 0.25);
  border: 2.3px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 256px;
  height: 144px;
  overflow: hidden;
  flex-shrink: 0;
}
.entrevista-en-tvazteca {
  align-self: stretch;
  position: relative;
  line-height: 30px;
}
.entrevista-en-tvazteca-adn40-c-wrapper,
.frame-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.entrevista-en-tvazteca-adn40-c-wrapper {
  flex: 1;
  flex-direction: column;
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-13xl) 0 0;
  gap: var(--gap-13xl);
  font-size: var(--font-size-5xl);
}
.mapbase-icon {
  position: relative;
  width: 493.52px;
  height: 383.59px;
}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--font-size-15xl);
}
.aprendizaje,
.mdulos-de {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 74px;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  width: 804px;
}
.aprendizaje {
  color: var(--color-gray-700);
}
.con-ejercicios-100,
.da-tus-primeros {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 44px;
  font-weight: 600;
  display: inline-block;
  width: 917px;
}
.con-ejercicios-100 {
  opacity: 0.6;
}
.da-tus-primeros-pasos-en-progr-parent {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-5xs) 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-13xl);
}
.icp-developer-certification {
  align-self: stretch;
  position: relative;
  line-height: 51px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  mix-blend-mode: overlay;
}
.icp-developer-certification-wrapper {
  flex: 1;
  border-radius: var(--br-5xl) 0 var(--br-5xl) var(--br-5xl);
  background: radial-gradient(50% 50%at 50% 50%, #a245ff, rgba(99, 22, 255, 0));
  height: 214px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.desarrollo-de-canisters-container {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 291.5px;
}
.semana-1-parent,
.ver-syllabus-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.semana-1-parent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.ver-syllabus-wrapper {
  border-radius: var(--br-80xl);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  border: 3px solid var(--color-white);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-13xl);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.frame-parent6 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-parent5 {
  width: 679px;
  flex-direction: row;
  padding: var(--padding-13xl) var(--padding-13xl) 0;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.frame-parent3,
.frame-parent4,
.frame-parent5 {
  display: flex;
  align-items: flex-start;
}
.frame-parent4 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-5xl);
  color: var(--color-gray-400);
}
.frame-parent3 {
  align-self: stretch;
  border-radius: var(--br-5xl);
  background: radial-gradient(50% 50%at 50% 50%, #2c2b31, #131318);
  border: 2px solid var(--color-gray-900);
  flex-direction: row;
  padding: 0 0 var(--padding-37xl);
  justify-content: center;
  gap: var(--gap-13xl);
}
.demo-day {
  position: relative;
  line-height: 51px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  mix-blend-mode: overlay;
}
.demo-day-wrapper {
  flex: 1;
  border-radius: var(--br-5xl) 0 var(--br-5xl) var(--br-5xl);
  background: radial-gradient(50% 50%at 50% 50%, #5cf, rgba(41, 171, 226, 0));
  height: 214px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.este-da-es-container {
  align-self: stretch;
  position: relative;
  line-height: 30px;
  font-weight: 500;
}
.este-da-es-un-espacio-para-qu-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-13xl) 0;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
}
.frame-parent11,
.frame-wrapper2,
.mentora-wrapper {
  display: flex;
  align-items: flex-start;
}
.frame-parent11 {
  align-self: stretch;
  border-radius: var(--br-5xl);
  background: radial-gradient(50% 50%at 50% 50%, #2c2b31, #131318);
  border: 2px solid var(--color-gray-900);
  flex-direction: row;
  padding: 0 0 var(--padding-37xl);
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.mentora-wrapper {
  flex: 1;
  border-radius: var(--br-5xl) 0 var(--br-5xl) var(--br-5xl);
  background: radial-gradient(
    50% 50%at 50% 50%,
    #ed1e79,
    rgba(237, 30, 121, 0)
  );
  height: 214px;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-13xl);
  box-sizing: border-box;
  justify-content: center;
}
.icdevsorg-registrada-como-container {
  flex: 1;
  position: relative;
  line-height: 30px;
  font-weight: 500;
}
.icdevsorg-registrada-como-th-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2,
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2 {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.frame-wrapper1 {
  width: 1390px;
  font-size: var(--font-size-32xl);
}
.beneficios,
.comenzar,
.listo-para {
  position: relative;
  letter-spacing: 0.18em;
  line-height: 19px;
  text-transform: uppercase;
}
.comenzar,
.listo-para {
  letter-spacing: -0.01em;
  line-height: 74px;
  font-weight: 800;
  display: inline-block;
  width: 1231px;
}
.comenzar {
  color: var(--color-gray-700);
}
.listo-para-parent {
  width: 678px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.unite-ahora1 {
  position: absolute;
  top: 35px;
  left: calc(50% - 94px);
  line-height: 24px;
  font-weight: 600;
}
.unite-ahora-container {
  position: relative;
  border-radius: var(--br-80xl);
  background-color: var(--color-gray-800);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  border: 3px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 306px;
  height: 88px;
  text-align: center;
  font-size: var(--font-size-13xl);
}
.frame-parent13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 232px;
  font-size: var(--font-size-69xl);
}
.comienza-hoy,
.regstrate-en-el {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 44px;
  font-weight: 600;
  display: inline-block;
  width: 678px;
}
.regstrate-en-el {
  top: 1px;
  opacity: 0.6;
}
.comienza-hoy-parent {
  position: relative;
  width: 678px;
  height: 89px;
  font-size: var(--font-size-13xl);
}
.beneficios-parent,
.demo {
  background: linear-gradient(99.09deg, #5665f9, #ff52d2);
}
.beneficios-parent {
  align-self: stretch;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-gray-900);
  display: flex;
  flex-direction: column;
  padding: var(--padding-45xl) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.demo {
  position: relative;
  letter-spacing: 0.18em;
  line-height: 19px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.videos-parent {
  width: 678px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-69xl);
}
.cleanshot-2023-06-08-at-1638 {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 225px;
  object-fit: cover;
}
.frame-inner {
  position: absolute;
  top: calc(50% - 39.94px);
  left: calc(50% - 30.41px);
  border-radius: var(--br-3xs);
  width: 97.97px;
  height: 104.55px;
}
.cleanshot-2023-06-08-at-1638-parent {
  position: relative;
  border-radius: var(--br-base);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 400px;
  height: 225px;
  overflow: hidden;
  flex-shrink: 0;
}
.da-1,
.div,
.icp-developer-i {
  position: relative;
  line-height: 44px;
  font-weight: 600;
}
.div,
.icp-developer-i {
  opacity: 0.6;
}
.icp-developer-i {
  flex: 1;
}
.da-1-parent,
.frame-parent16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.da-1-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.frame-parent16 {
  flex-direction: column;
  gap: var(--gap-14xl);
}
.cleanshot-2023-06-08-at-1639 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  width: 400px;
  height: 225px;
  object-fit: cover;
}
.participan-de-manera-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 22px;
  color: var(--color-gray-700);
}
.frame-parent15,
.frame-parent18 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frame-parent18 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent15 {
  flex-direction: row;
  padding: 0 var(--padding-109xl);
  justify-content: space-between;
}
.cleanshot-2023-06-08-at-1644 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  width: 399px;
  height: 225px;
  object-fit: cover;
}
.cleanshot-2023-06-08-at-1644-parent {
  position: relative;
  border-radius: var(--br-base);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
  border: 4px solid var(--color-darkgray-200);
  box-sizing: border-box;
  width: 400px;
  height: 225px;
  overflow: hidden;
  flex-shrink: 0;
}
.demo-parent,
.frame-parent14 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent14 {
  height: 884px;
  justify-content: space-between;
  font-size: var(--font-size-13xl);
}
.demo-parent {
  border-radius: var(--br-5xl);
  background: radial-gradient(50% 50%at 50% 50%, #2c2b31, #131318);
  border: 1px solid var(--color-gray-900);
  padding: var(--padding-45xl) var(--padding-13xl);
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.image-2-icon {
  position: relative;
  width: 2111px;
  height: 1245px;
  object-fit: cover;
  display: none;
  z-index: 0;
}
.proceso {
  position: relative;
  letter-spacing: 0.18em;
  line-height: 19px;
  text-transform: uppercase;
  background: linear-gradient(99.09deg, #5665f9, #ff52d2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.ruta-de-formacin-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 2;
  font-size: var(--font-size-69xl);
}
.rectangle-div {
  position: relative;
  background-color: #ff002e;
  width: 1451px;
  height: 768px;
  display: none;
  mix-blend-mode: hue;
  z-index: 3;
}
.onboarding-a-ic {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  font-weight: 600;
  color: var(--color-white);
}
.el-objetivo-de,
.es-el-primer {
  position: relative;
  display: inline-block;
  width: 651px;
}
.es-el-primer {
  line-height: 44px;
  font-weight: 600;
}
.el-objetivo-de {
  font-size: var(--font-size-5xl);
  line-height: 36px;
  font-family: var(--font-hubot-sans);
  color: var(--color-white);
}
.que-los-participantes {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.que-los-participantes-container {
  position: relative;
  line-height: 36px;
  display: inline-block;
  width: 651px;
}
.el-objetivo-de-esta-primera-in-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.easy-peasy {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 36px;
  font-weight: 600;
  opacity: 0.6;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: #f2f1ee;
  width: 64px;
  height: 64px;
}
.vector-icon {
  position: absolute;
  height: 78.13%;
  width: 78.13%;
  top: 10.94%;
  right: 10.94%;
  bottom: 10.94%;
  left: 10.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent {
  position: relative;
  width: 64px;
  height: 64px;
}
.httpslumalpgl0k3g1 {
  text-decoration: underline;
}
.httpslumalpgl0k3g {
  color: #29abe2;
}
.registrarse-en-luma-container {
  position: relative;
  line-height: 36px;
}
.group-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.app-icon-zm-bleed-rgb-1 {
  position: relative;
  border-radius: var(--br-base);
  width: 64px;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
}
.easy-peasy-parent,
.frame-parent25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.easy-peasy-parent {
  flex-direction: column;
  gap: var(--gap-5xl);
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-hubot-sans);
}
.frame-parent25 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-29xl) 0 0;
  gap: 144px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.invitacin-a-la,
.una-vez-realizada {
  align-self: stretch;
  position: relative;
}
.invitacin-a-la {
  line-height: 44px;
  font-weight: 600;
}
.una-vez-realizada {
  font-size: var(--font-size-5xl);
  line-height: 36px;
  color: var(--color-gray-700);
}
.frame-parent24,
.invitacin-a-la-certificacin-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.invitacin-a-la-certificacin-parent {
  width: 651px;
  color: var(--color-white);
}
.frame-parent24 {
  align-self: stretch;
  gap: var(--gap-29xl);
  font-size: var(--font-size-13xl);
  color: var(--color-gray-700);
}
.ruta-de-formacin1 {
  position: relative;
  line-height: 52px;
  display: inline-block;
  width: 678px;
}
.frame-child3,
.frame-child4,
.frame-child5,
.frame-child6 {
  position: absolute;
  top: 94px;
  left: 192px;
  background-color: var(--color-gray-900);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 87px;
  height: 4px;
}
.frame-child4,
.frame-child5,
.frame-child6 {
  left: 471px;
}
.frame-child5,
.frame-child6 {
  left: 750px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.frame-child6 {
  left: 1029px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.frame-icon {
  position: relative;
  border-radius: var(--br-101xl);
  width: 160px;
  height: 160px;
}
.frame-wrapper10,
.frame-wrapper12,
.frame-wrapper14,
.frame-wrapper16,
.frame-wrapper8,
.frame-wrapper9 {
  border-radius: var(--br-109xl);
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-gray-500);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.frame-wrapper10,
.frame-wrapper12,
.frame-wrapper14,
.frame-wrapper16,
.frame-wrapper8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-600);
  border: 1px solid var(--color-gray-900);
}
.frame-wrapper10,
.frame-wrapper12,
.frame-wrapper14,
.frame-wrapper16 {
  left: 279px;
}
.frame-wrapper12,
.frame-wrapper14,
.frame-wrapper16 {
  left: 558px;
}
.frame-wrapper14,
.frame-wrapper16 {
  left: 837px;
}
.frame-wrapper16 {
  left: 1116px;
}
.curso-de-certificacin,
.onboarding1 {
  position: absolute;
  top: calc(50% + 82.5px);
  left: 0;
  line-height: 24px;
  display: inline-block;
  width: 192px;
}
.curso-de-certificacin {
  left: 279px;
}
.certificacin,
.evaluacin,
.presentacin-de-proyecto {
  position: absolute;
  top: 213px;
  left: 558px;
  line-height: 24px;
  display: inline-block;
  width: 192px;
}
.certificacin,
.evaluacin {
  left: 837px;
}
.certificacin {
  left: 1116px;
  line-height: 37.84px;
}
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1308px;
  height: 261px;
}
.frame-wrapper7 {
  position: relative;
  width: 1356px;
  height: 290px;
  text-align: center;
  font-size: var(--font-size-2xl);
}
.ruta-de-formacin-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.proceso-de-seleccin {
  position: relative;
  line-height: 60px;
  display: inline-block;
  width: 734px;
}
.seleccin-de-mejores,
.solicitud-de-grant {
  position: absolute;
  line-height: 24px;
  display: inline-block;
}
.seleccin-de-mejores {
  top: calc(50% + 82.5px);
  left: 270px;
  width: 210px;
}
.solicitud-de-grant {
  top: 213px;
  left: 1116px;
  width: 192px;
}
.frame-wrapper18 {
  align-self: stretch;
  position: relative;
  height: 290px;
  text-align: center;
  font-size: var(--font-size-2xl);
}
.frame-parent23 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  z-index: 4;
  font-size: var(--font-size-29xl);
}
.writing-programming-code-on-la-icon {
  position: absolute;
  top: 0.96px;
  left: -72px;
  width: 919px;
  height: 608px;
  object-fit: cover;
  display: none;
}
.writing-programming-code-on-la-icon1 {
  position: absolute;
  top: 0.96px;
  right: 0;
  width: 847px;
  height: 561px;
  object-fit: cover;
  opacity: 0.6;
}
.writing-programming-code-on-la-parent {
  position: absolute;
  margin: 0 !important;
  top: 0.41px;
  right: 0;
  width: 847px;
  height: 562px;
  z-index: 5;
}
.image-2-parent {
  align-self: stretch;
  border-radius: var(--br-5xl);
  background: radial-gradient(50% 50%at 50% 50%, #2c2b31, #131318);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-45xl) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-45xl);
}
.image-2-icon1 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: calc(50% - 693.5px);
  width: 1765px;
  height: 1041px;
  object-fit: cover;
  z-index: 0;
}
.embajadores {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.18em;
  line-height: 20px;
  text-transform: uppercase;
  background: linear-gradient(99.09deg, #5665f9, #ff52d2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.formaliza-la-colaboracin {
  position: relative;
  font-size: var(--font-size-29xl);
  line-height: 60px;
  display: inline-block;
  width: 1117px;
  z-index: 3;
}
.colaboracin-de-docentes {
  flex: 1;
  position: relative;
  line-height: 60px;
  text-transform: uppercase;
  background: linear-gradient(99.09deg, #ed1e79, #29abe2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icp-university-academic {
  margin-bottom: 40px;
}
.icp-university-academic-adviso {
  margin: 0;
  padding-left: 43px;
}
.icp-university-academic-container {
  flex: 1;
  position: relative;
  font-size: var(--font-inherit);
  line-height: 40px;
  font-family: var(--font-inherit);
}
.colaboracin-de-docentes-y-est-parent {
  width: 1323px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-45xl);
  z-index: 4;
  font-size: 66px;
  color: var(--color-gray-700);
}
.este-programa-busca {
  position: relative;
  line-height: 44px;
  display: inline-block;
  width: 629.5px;
}
.aplicando-las-tecnologas {
  margin-bottom: 0;
}
.aplicando-las-tecnologas-de-l {
  margin: 0;
  padding-left: 28px;
}
.aplicando-las-tecnologas-container {
  position: relative;
  font-size: var(--font-inherit);
  line-height: 44px;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 629.5px;
}
.este-programa-busca-consolidar-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.el-objetivo-de1 {
  flex: 1;
  position: relative;
  line-height: 44px;
}
.frame-parent26 {
  width: 1323px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  z-index: 5;
}
.primeras-universidades-con-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  width: 929px;
}
.escudo-de-la-unah-1-icon,
.logo-de-la-uaz-1-icon {
  position: relative;
  width: 219.92px;
  height: 200px;
  overflow: hidden;
  flex-shrink: 0;
}
.escudo-de-la-unah-1-icon {
  width: 134.2px;
}
.image-4-icon {
  position: relative;
  width: 201.01px;
  height: 200px;
  object-fit: cover;
}
.logo-de-la-uaz-1-parent {
  position: absolute;
  top: 152px;
  left: 255.94px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 128px;
}
.primeras-universidades-con-las-parent {
  position: relative;
  width: 1323px;
  height: 368px;
  z-index: 6;
  font-size: var(--font-size-13xl);
}
.nete-la-comunidad {
  position: relative;
  line-height: 60px;
}
.nete-la-comunidad-de-embajador-wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.postula-a-tu {
  position: absolute;
  top: 35px;
  left: calc(50% - 194.5px);
  line-height: 24px;
  font-weight: 600;
}
.postula-a-tu-universidad-wrapper {
  position: relative;
  border-radius: var(--br-80xl);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  border: 3px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 475px;
  height: 88px;
  text-align: center;
  font-size: var(--font-size-13xl);
}
.frame-parent27 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  z-index: 7;
}
.image-2-group,
.proyectos-de-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-2-group {
  border-radius: var(--br-5xl);
  background: radial-gradient(50% 50%at 50% 50%, #2c2b31, #131318);
  border: 1px solid var(--color-gray-900);
  overflow: hidden;
  padding: var(--padding-45xl) var(--padding-13xl);
  position: relative;
  gap: var(--gap-45xl);
  font-size: var(--font-size-5xl);
}
.proyectos-de-parent {
  gap: var(--gap-5xs);
  font-size: var(--font-size-69xl);
}
.frame-child20 {
  position: relative;
  border-radius: var(--br-base);
  width: 354px;
  height: 246px;
  overflow: hidden;
  flex-shrink: 0;
}
.media {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.media-wrapper {
  border-radius: var(--br-80xl);
  background-color: var(--color-orchid);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-11xs);
  align-items: center;
  justify-content: center;
}
.andres-dominguez {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 600;
  opacity: 0.6;
}
.frame-parent29,
.frame-wrapper29 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper29 {
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.frame-parent29 {
  gap: var(--gap-base);
}
.playcircle-icon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.audio-pitch {
  position: relative;
  line-height: 24px;
  opacity: 0.6;
}
.playcircle-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.defi-wrapper,
.ecommerce-wrapper,
.exchange-wrapper {
  border-radius: var(--br-80xl);
  background-color: var(--color-mediumseagreen);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-11xs);
  align-items: center;
  justify-content: center;
}
.ecommerce-wrapper,
.exchange-wrapper {
  background-color: var(--color-gold);
}
.ecommerce-wrapper {
  background-color: var(--color-blueviolet);
}
.curso-parent,
.galera-parent,
.proyectos1,
.row-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.row-1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xl);
}
.curso-parent,
.galera-parent,
.proyectos1 {
  flex-direction: column;
}
.proyectos1 {
  align-self: stretch;
  gap: var(--gap-29xl);
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.curso-parent,
.galera-parent {
  gap: var(--gap-45xl);
}
.galera-parent {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-5xl);
  background: radial-gradient(50% 50%at 50% 50%, #2c2b31, #131318);
  border: 1px solid var(--color-gray-900);
  padding: var(--padding-45xl) var(--padding-13xl);
}
.curso-parent {
  width: 1440px;
  height: 10014px;
  padding: var(--padding-45xl) var(--padding-5xl);
  box-sizing: border-box;
}
.amigos {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.18em;
  line-height: 19px;
  text-transform: uppercase;
  background: linear-gradient(99.09deg, #5665f9, #ff52d2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame-icon1 {
  position: relative;
  border-radius: var(--br-113xl);
  width: 128px;
  height: 128px;
  overflow: hidden;
  flex-shrink: 0;
}
.lazonatres {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  opacity: 0.6;
}
.frame-parent60,
.zona-tres-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.zona-tres-parent {
  align-self: stretch;
}
.frame-parent60 {
  flex: 1;
  gap: var(--gap-5xl);
}
.cropped-cropped-kostik-rosa-ne-icon {
  position: absolute;
  top: calc(50% - 44.59px);
  left: calc(50% - 47px);
  width: 95px;
  height: 89px;
  object-fit: cover;
}
.frame {
  position: relative;
  border-radius: var(--br-113xl);
  background-color: var(--color-white);
  width: 128px;
  height: 128px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent64 {
  width: 326px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.dedicalogo-1-icon {
  position: absolute;
  top: calc(50% - 52.59px);
  left: calc(50% - 52px);
  width: 105px;
  height: 105px;
  object-fit: cover;
}
.amigos-parent {
  align-self: stretch;
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: column;
  padding: var(--padding-45xl) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  font-size: var(--font-size-5xl);
}
.nosotros {
  position: relative;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  background: linear-gradient(99.09deg, #5665f9, #ff52d2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.el-equipo,
.nuestro-equipo-de {
  position: relative;
  display: inline-block;
}
.el-equipo {
  font-size: var(--font-size-69xl);
  letter-spacing: -0.01em;
  line-height: 74px;
  text-transform: uppercase;
  font-weight: 800;
  width: 1006px;
}
.nuestro-equipo-de {
  font-size: var(--font-size-13xl);
  line-height: 44px;
  width: 714px;
}
.image-1-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 258px;
  flex-shrink: 0;
  object-fit: cover;
}
.claudio-cossio {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 40px;
  text-transform: uppercase;
}
.co-fundador {
  position: relative;
  line-height: 24px;
  color: var(--color-gray-700);
}
.telegram-fill-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-1-parent,
.telegram-fill-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.image-1-parent {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-gray-900);
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-29xl);
  gap: var(--gap-13xl);
}
.frame-wrapper46,
.frame-wrapper47 {
  flex: 1;
  border-radius: var(--br-14xl);
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-gray-500);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.frame-wrapper46 {
  border-radius: var(--br-22xl);
  background-color: var(--color-gray-600);
  border: 1px solid var(--color-gray-900);
}
.frame-wrapper45,
.nosotros-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper45 {
  width: 1392px;
  font-size: var(--font-size-5xl);
}
.nosotros-parent {
  padding: var(--padding-45xl) var(--padding-5xl);
  gap: var(--gap-45xl);
}
.preguntas-frecuentes {
  position: relative;
  letter-spacing: 0.18em;
  line-height: 40px;
  text-transform: uppercase;
  background: linear-gradient(99.09deg, #5665f9, #ff52d2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.qu-es-icphub {
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  width: 714px;
}
.union-child,
.union-item {
  position: absolute;
  height: 100%;
  width: 8.33%;
  top: 50%;
  right: -4.17%;
  bottom: -50%;
  left: 95.83%;
  background-color: var(--color-white);
}
.union-item {
  top: 95.83%;
  right: -58.33%;
  bottom: -95.83%;
  left: 150%;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.union {
  position: relative;
  background-color: var(--color-gray-700);
  width: 16px;
  height: 16px;
}
.union-wrapper {
  position: absolute;
  top: calc(50% - 16px);
  left: 858px;
  border-radius: var(--br-80xl);
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.qu-es-icphub-latam-parent {
  align-self: stretch;
  position: relative;
  border-bottom: 1px solid var(--color-gray-900);
  box-sizing: border-box;
  height: 92px;
  overflow: hidden;
  flex-shrink: 0;
}
.cmo-es-el,
.el-primer-paso-container {
  position: absolute;
  left: 0;
  display: inline-block;
}
.cmo-es-el {
  top: 34px;
  line-height: 24px;
  font-weight: 600;
  width: 714px;
}
.el-primer-paso-container {
  top: 92px;
  line-height: 36px;
  color: var(--color-gray-700);
  width: 800px;
}
.union-child1,
.union-inner {
  position: absolute;
  height: 100%;
  width: 8.33%;
  top: 67.59%;
  right: 29.97%;
  bottom: -67.59%;
  left: 61.7%;
  background-color: var(--color-white);
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.union-child1 {
  top: 61.7%;
  right: -40.74%;
  bottom: -61.7%;
  left: 132.41%;
  transform: rotate(45deg);
}
.union1 {
  position: relative;
  background-color: var(--color-gray-700);
  width: 16px;
  height: 16px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.union-container {
  position: absolute;
  top: 30px;
  left: 858px;
  border-radius: var(--br-80xl);
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.cmo-es-el-onboarding-parent,
.qu-es-icphub-latam-parent1 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.cmo-es-el-onboarding-parent {
  border-bottom: 1px solid var(--color-gray-900);
  box-sizing: border-box;
  height: 308px;
}
.qu-es-icphub-latam-parent1 {
  height: 92px;
}
.frame-parent67 {
  width: 919px;
  flex-direction: column;
  font-size: var(--font-size-5xl);
}
.faq-parent,
.frame-parent,
.frame-parent67,
.preguntas-frecuentes-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.faq-parent {
  flex-direction: row;
  gap: 279px;
  font-size: var(--font-size-69xl);
}
.frame-parent,
.preguntas-frecuentes-parent {
  flex-direction: column;
}
.preguntas-frecuentes-parent {
  align-self: stretch;
  padding: var(--padding-45xl) var(--padding-5xl);
  gap: var(--gap-45xl);
}
.frame-parent {
  position: absolute;
  top: 80px;
  left: 0;
  height: 16085.59px;
  text-align: left;
  font-size: var(--font-size-xl);
}
.desktop-11 {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
  background-color: #1b1b1b;
  width: 100%;
  height: 17071px;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-hubot-sans);
}
