// Seccion "Amigos"

.titulo-amigos{
	color: #FFF; 
	font-size: 24px; 
	font-weight: 600; 
	line-height: 24px;
	margin-top: 20px;
	flex-grow: 4;
	order: 4;
  }
  
  .redes-amigos{
	color: #FFF;
	font-size: 24px;
	font-weight: 600;
	line-height: 24px; 
	opacity: 0.6000000238418579;
  }
  
  
  .contenedor-amigos{
	display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  
  @include tablet {
	grid-template-columns: 1fr 1fr;
  }
  
  @include mobile {
	grid-template-columns: 1fr;
  }
  }

  
  // amigos