

  .contenedor-demo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    grid-gap: 50px;  
    justify-content: space-between;
    justify-items: center;
    align-items: center;

  
  @include tablet {
    grid-template-columns: 1fr;
  }
  
  @include mobile {
    grid-template-columns: 1fr;
  }
  }


  .demo, .proceso{
    margin-left: -65px;
    @include tablet {
      margin-left: -50px;
    }
    
    @include mobile {
      margin-left: -50px;
    }
  }
  
  
  
  // demo