// Seccion "DEMO"

.seccion-demo{
    margin-top: -240px; 
    border-radius: 54px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 50px;
    border: 0px solid rgba(255, 255, 255, 0.10);
    background: var(--radial-blackz, radial-gradient(317.05% 141.42% at 0.00% 0%, #2C2B31 0%, #131318 100%));

    @include mobile {
        margin-top: -90px; 
      }

}

  .contenedor-demo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    grid-gap: 50px;  
    justify-content: space-between;
    justify-items: center;
    align-items: center;

  
  @include tablet {
    grid-template-columns: 1fr;
  }
  
  @include mobile {
    grid-template-columns: 1fr;
  }
  }

  
  
  
  // demo