
.event-info{
    background-image: url(/images/background-hero.png);
    background-size: cover;
	background-position: center;
    
}




.event-content.title1{
    color: #E7247B;
    font-size: 3em;
}



.event-content.title2{
    color: #5BB88D;
    font-size: 3em;
   }