// Estilos generales

.registro,
.onboarding,
.intro,
.curso,
.comenzar,
.demo,
.proceso,
.amigos,
.nosotros,
.faq{
    padding-left: 150px;
        
  @media (max-width:1309px) {
    padding-left: 60px;
	  }
  
	@media (max-width:992px) {
        padding-left: 60px;
	}
  
	@media (max-width:400px) {
        padding-left: 60px;
	}
  }
  
    .titulo{
      background: var(--linear-blue-magenta, linear-gradient(135deg, #5665F9 0%, #FF52D2 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Hubot-Sans;
      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 3.6px;
      text-transform: uppercase;
            
    }
  
  
    .subtitulo1{
  color: #FFF;
  font-feature-settings: 'ss04' on;
  font-family: Hubot-Sans;
  font-size: 88px;
  font-style: normal;
  font-weight: 800;
  line-height: 74px;
  letter-spacing: -0.88px;
  text-transform: uppercase;
      
  @media (max-width:1309) {
    font-size: 80px;
	  }
  
	@media (max-width:992px) {
    font-size: 50px;
    line-height: 54px;
	}
  
	@media (max-width:475px) {
    font-size: 30px;
    line-height: 38px;
	}
    }
  
  
    .subtitulo2{
  
  color: rgba(255, 255, 255, 0.60);
  font-feature-settings: 'ss04' on;
  font-family: Hubot-Sans;
  font-size: 88px;
  font-style: normal;
  font-weight: 800;
  line-height: 74px; 
  letter-spacing: -0.88px;
  text-transform: uppercase;
      
  @media (max-width:1309) {
    font-size: 80px;

	  }
  
	@media (max-width:992px) {
    font-size: 50px;
    line-height: 0px; 
	}
  
	@media (max-width:475px) {
    font-size: 30px;
    line-height: 0px; 
	}
    }

    // /estilos generales




