

.seccion-proceso{
    margin-top: 50px;
}

.contenedor-proceso{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    grid-gap: 50px;  
    justify-content: space-between;
    justify-items: center;
    align-items: center;

	@media (max-width:723px) {
        grid-template-columns: 1fr;
        }
}

.titulo-protocol, .titulo-proceso{
    color: #FFF;
}

.subtitulo-protocol, .subtitulo-proceso, .easy-peasy{
    color: rgba(255, 255, 255, 0.60);
}

.titulo-protocol, .subtitulo-protocol{
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;

    @media (max-width:992px) {
        font-size: 30px;
        line-height: 44px;
        }

        @media (max-width:652px) {
            font-size: 25px;
            line-height: 38px;
            }

            @media (max-width:470px) {
                font-size: 22px;
                line-height: 26px;
                }
}



.titulo-proceso, .subtitulo-proceso, .easy-peasy{

font-size: 27px;
font-weight: 600;
line-height: 36px;

@media (max-width:992px) {
    font-size: 30px;
    line-height: 44px;
    }

    @media (max-width:652px) {
        font-size: 25px;
        line-height: 38px;
        }

        @media (max-width:470px) {
            font-size: 22px;
            line-height: 26px;
            }
}

.easy-peasy-sub{
    color: #FFF;
    font-size: 18px;
    line-height: 36px;
}

.ruta-de-formacion >.titulo-ruta{
    color: #FFF;
    font-size: 48px;
    line-height: 52px; 
}


.contenedor-ruta-de-formacion{

    display: grid;
    grid-template-columns: repeat(5, 1fr);  
    grid-gap: 30px;  
    justify-content: space-between;
    justify-items: center;
    align-items: center;

	@media (max-width:1108px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @media (max-width:902px) {
            grid-template-columns: 1fr 1fr 1fr;
            }

            @media (max-width:727px) {
                grid-template-columns: 1fr 1fr;
                }   

                @media (max-width:515px) {
                    grid-template-columns: 1fr;
                    }  
}

.circulo-ruta{
    display: flex;
    width: 160px;
    height: 160px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 120px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: #37333D;
}


.circulo-ruta-item>p{
    margin-top: 20px;
    width: 160px;
    height: 30px;
    color: #FFF;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    line-height: 24px; 
}







    
    