
//fonts

$base-font                : 'HubotSans', Helvetica, Arial, sans-serif;
$heading-font             : 'HubotSans', 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size           : 16px;


// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white                    : #ffffff;
$black                    : #303030;
$black-lighter            : #444444;
$gray                    : #4b25f1;
$gray-light               : #f8f8f8;
$border-color             : #e8e8e8;

$primary-color: #E7247B;
$secondary-color: #965cee;
$orange:#17A8BC;
$yellow:#37C3D6;
$yellow2: #f9b748;
$morado: #4b25f1;




$white                    : #ffffff;
$black                    : #303030;
$black-lighter            : #444444;
$gray                    : #a4a4a4;
$gray-light               : #f8f8f8;
$border-color             : #e8e8e8;

$primary-color: #00B1E1;
$secondary-color: #2E3192;
$orange:#17A8BC;
$yellow:#37C3D6;
$yellow2: #000000;


$primary: #00A19A !important;